<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}



<div class="container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active" style="text-align: center; width: 25%"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation" style="text-align: center; width: 25%"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation" style="text-align: center; width: 25%"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation" style="text-align: center; width: 25%"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">hahahahahahaha1</div>
    <div role="tabpanel" class="tab-pane" id="profile">hahahahahahahaah2</div>
    <div role="tabpanel" class="tab-pane" id="messages">ahahahahahahahah3</div>
    <div role="tabpanel" class="tab-pane" id="settings">ahahahahaahhaahha4</div>
  </div>

</div>
{% endblock %}
