<div>

    <table class="table table-hover">
    <tr>
        <td><a href="{{url_for('user', nickname=u.nickname)}}"><img src="{{u.avatar(70)}}"></a></td>
        <td><p><a href="{{url_for('user', nickname = u.nickname)}}">{{u.nickname}}</a></p>
        <p>粉丝:<span class="badge">{{ u.followers.count() - 1 }}</span> | 关注: <span class="badge">{{ u.followed.count() - 1 }}</span></p></td>
    </tr>
    </table>


    <!-- <ul class="list-unstyled list-inline">
        <li>
            <img src="{{ u.avatar(70) }}" class="img-polaroid">
        </li>
        <li>
            <p>{{u.nickname}}</p>
            <p>粉丝:<span class="badge">{{ u.followers.count() - 1 }}</span> | 关注: <span class="badge">{{ u.followed.count() - 1 }}</span></p>
        </li>
    </ul> -->
</div>
